---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Un viaje por la historia"
---

<BaseLayout pageTitle={pageTitle} >
  <div class="container d-flex justify-content-between p-5">
    <div class='w-50 d-flex flex-column py-5 px-4 gap-2 lineHeight'>
      <h2 class="fs-1 fw-semibold mb-4 raw-umber-font letterSpace">Bienvenido a Un viaje por la historia</h1>
      <p class="fs-5 m-0 ">Una web que busca enseñar los momentos mas importantes de nuestra historia, de manera simple y consisa.</p>
      <p class="fs-5 m-0">Nuestro enfoque principal es que conozcas los lugares donde ocurrieron estos eventos, al igual todos aquellos sitios que cumplen la gran labor de informarnos sobre nuestra hisotira</p>
    </div>
  </div>
</BaseLayout>