---
import '../styles/navbar.scss';
import Hamburger from './Hamburger.astro';
---

<header>
  <nav class="d-flex align-items-center justify-content-center position-relative navBarContainer py-2 px-5 bone-bg">
    <div class="d-flex align-items-center">
      <Hamburger/>
        <a href="/" class='Name'>Editorial Turpial </a>
    </div>
    
    <div class='navLinks'>
      <a href="/">Inicio</a>
      <a href="/Articulos/">Articulos</a>
      <a href="/Biblioteca/">Biblioteca</a>
      <a href="/Staff/">Staff</a>
      <a href="/Contacto/">Contacto</a>
    </div>
  </nav>
</header>