---
import '../styles/navbar.scss';
import Hamburger from './Hamburger.astro';
---

<header>
  <nav class="d-flex align-items-center justify-content-center py-2 px-5 bone-bg">
    <Hamburger/>
    <a href="/" class='Name'>Un viaje por la historia </a>
    <div class='navLinks'>
      <a href="/">Inicio</a>
      <a href="/Library/">Biblioteca</a>
      <!-- <a href="/About me/">About me</a> -->
    </div>
  </nav>
</header>