.eventImg{
    width: 60%;
    object-fit: cover;
    border-radius: 10px;
    
}

.pageLink:hover{
    font-weight: 700 !important;
    transition: 5s !important;

}

.eventMap{
    width: 85%;
    object-fit: cover;
    border-radius: 10px;
    
}