@use '../styles/colors.scss' as color;

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: Poppins, sans-serif;
}

:root{
  font-size: 14px;
}

a,
a:visited {
    color: color.$black-jet;
    text-decoration: none;
    font-size: 16px;
}

.bone-bg{
  background-color: color.$brown-bone;
}

.raw-umber-bg{
  background-color: color.$brown-raw-umber;
}

.black-bg{
  background-color: color.$black-nightfall;
}

.isabelline-bg{
  background-color: color.$brown-isabelline;
}

.isabelline-font{
  color: color.$brown-isabelline;
}

.raw-umber-font{
  color: #8B6D55 !important;
}

.brown-umber{
  color: color.$brown-umber;
}

.letterSpace{
  letter-spacing:  0.1rem;
}

.lineHeight{
  line-height: 1.6;
}

@keyframes venezuelanMap {
  0% {scale: 0.6;}
  55% {scale: 1.03;}
  100% {scale: 1;}
 

}

.mainPageSVG{

  fill: color.$brown-coffee;
  color: color.$brown-raw-umber;
  animation-name: venezuelanMap;
  animation-duration: 3s;
  margin-left: 25px;
}

