---
import {Book} from "../../Components/Book"
import BaseLayout from "../../layouts/BaseLayout.astro"
import book from "../../assets/book/015895.jpg"
import "../../styles/event.scss"
import "../../styles/biblioteca.scss"

const pageTitle = "Biblioteca"



---

<BaseLayout pageTitle={pageTitle} >
   <div class="d-flex flex-column py-5 mb-5">
      <div class="container d-flex justify-content-between p-5 gap-5">
         <div class='w-50 d-flex flex-column justify-content-center px-4 gap-2 lineHeight w-100'>
            <h2 class="fs-3 fw-bold m-0 raw-umber-font letterSpace">Conoce nuestras publicaciones</h1>
               <Book client:load/>
      </div>
      
   </div>

</BaseLayout>