---
import BaseLayout from "../../layouts/BaseLayout.astro"
import "../../styles/staff.scss"

const pageTitle = "Staff"

---

<BaseLayout pageTitle={pageTitle} >
   <div class="d-flex flex-column">
      <div class="container d-flex justify-content-between p-5 gap-5">
         <div class='w-100 d-flex flex-column justify-content-center px-4 gap-5 lineHeight'>
            <h2 class="fs-3 fw-bold mb-4 raw-umber-font letterSpace">Conoce a nuestro equipo de expertos</h1>
            <div class="d-flex w-100 staffContainer justify-content-between">

              <div class="d-flex gap-5 w-30 staffCard" >
                <div class="staffText d-flex flex-column justify-content-center align-items-center fs-5 brown-umber w-100 gap-4">
                  <img class="staffImg" src="../../src/assets/staff/RamonJVelasquez.jpg"/>
                  <div class="fs-5 brown-umber w-100 fw-semibold text-center">Director de la editorial - Ramon J. Velásquez</div>
                  <p class="fs-5 w-100" >Nacido en San Juan de Colón, Táchira, el 28 de noviembre de 1916, fue un destacado historiador, periodista y político venezolano. Su brillante trayectoria académica lo posicionó como una figura intelectual de gran renombre, dejando un legado invaluable en el ámbito educativo y cultural del país.</p>
                </div>
              </div>

              <div class="d-flex gap-5 w-30 staffCard">
                <div class="staffText d-flex flex-column justify-content-center align-items-center fs-5 brown-umber gap-4">
                  <img class="staffImg" src="../../src/assets/staff/csm_Uslar__Arturo_7c15ab58d3.jpg"/>
                  <div class="fs-5 brown-umber fw-semibold text-center">Director de edicion - Arturo Uslar Pietri</div>
                  <p class="fs-5" >Nacido en Caracas el 16 de mayo de 1906 y fallecido en la misma ciudad el 26 de febrero de 2001, fue un escritor, periodista, político e intelectual venezolano, considerado uno de los más importantes del siglo XX. Su prolífica obra abarca diversos géneros, incluyendo novelas, cuentos, ensayos y artículos periodísticos, dejando una huella imborrable en la literatura hispanoamericana.</p>
                </div>
              </div>

             <div class="d-flex gap-5 w-30 staffCard">
                <div class="staffText d-flex flex-column justify-content-center align-items-center fs-5 brown-umber gap-4">
                  <img class="staffImg" src="../../src/assets/staff/9a26827fda1d44dcd81d911d18d477ce.jpg"/>
                  <div class="fs-5 brown-umber fw-semibold text-center">Director de diseño - Tito Salas</div>
                  <p class="fs-5" >Fue un pintor venezolano reconocido por su magistral representación de Simón Bolívar y las batallas de la Independencia, convirtiéndose en un ícono del arte nacional. Su obra, cargada de simbolismo y patriotismo, lo consolidó como uno de los artistas más importantes de Venezuela.</p>
                </div>
              </div>
            </div>
              
             
              
         </div>

      </div>
      
      
   </div>

</BaseLayout>